#sidebar-toggle {
      display: none;
    }
    
    .main-content {
      margin-left: 280px;
      transition: margin-left 300ms;
    }

    #sidebar-toggle:checked ~ .sidebar {
      left: -100%;
    }
    #sidebar-toggle:checked ~ .main-content {
      margin-left: 0;
    }

    .sidebar {
      width: 280px;
      position: fixed;
      left: 0;
      top: 0;
      height: 100%;
      padding: 1rem;
      background: rgb(56, 102, 65);
      color: white;
      z-index: 20;
      box-shadow: 2px 0 8px rgba(0, 0, 0, 0.3);
      transition: left 300ms;
      border-radius: 5px;
    }
    
    .sidebar-brand {
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem;
    }
    
    .sidebar-user {
      text-align: center;
      padding: 0.5rem;
      border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    }
    
    .sidebar-user h3 {
      margin: 0.5rem 0 0;
      font-size: 1.2rem;
    }
    
    .sidebar-user span {
      font-size: 0.85rem;
      display: block;
    }
    
    .menu-toggle label {
      cursor: pointer;
      color: rgb(56, 102, 65);
      font-size: 1.8rem;
    }
    
    .nav-link {
      display: flex;
      align-items: center;
      padding: 0.50rem;
      color: white;
      border-radius: 0.5rem;
      margin-bottom: 0.25rem;
      margin-top: 1rem;
      
    }
    
    .nav-link:hover {
      background: rgba(255, 255, 255, 0.1);
    }
    
    .nav-link i {
      margin-right: 0.75rem;
      width: 20px;
    }
    
   
    header {
      background: white;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      padding: 0.75rem 1.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: sticky;
      top: 0;
      z-index: 10;
      transition: margin-left 300ms;
    }

    @media only screen and (max-width: 768px) {
      .sidebar {
        left: -100%;
      }
      .main-content {
        margin-left: 0;
      }
      #sidebar-toggle:checked ~ .sidebar {
        left: 0;
      }
    }
    